In [1]:
import pandas as pd

df  = pd.read_json('user_info.json')

print(df.columns.tolist())

['user_profile', 'original_post', 'social_media', 'posts_info']

In [35]:
import json
user_infos = None
with open('user_info.json', 'r') as file:
    user_infos = json.load(file)

In [9]:
first = data[0]

In [13]:
import pandas as pd
pd.DataFrame([first["user_profile"]])

,name,author_uid,username,tiktok_followers,tiktok_following,tiktok_bio,country,tiktok_email,google
0,LUCINDA‚ÄÇPIKKAT,6785660866904146950,lucindapikkat,58258,712,Satirical Mum Life \nPR and Brand Advice \nSi...,AU,False,

In [17]:
id = first["user_profile"]["author_uid"]
id

6785660866904146950

In [20]:
first["posts_info"][0]

{'post_uid': '7299333378166312199',
 'create_time': 1699508493,
 'description': 'Successful fashion rebrands that deserve an award üëè üëè üëè #oroton #dissh #pr #marketing #rebrand #branding ',
 'desc_language': 'en',
 'advertisement': False,
 'region': 'AU',
 'url': 'https://www.tiktok.com/@lucindapikkat/video/7299333378166312199?_r=1&u_code=e9akl4mjgb7d0e&preview_pb=0&sharer_language=en&_d=e9akj4mkidbf17&share_item_id=7299333378166312199&source=h5_m',
 'saved': 547,
 'comments': 128,
 'likes': 11521,
 'downloaded': 0,
 'views': 212040,
 'shares': 170,
 'shares_whatsapp': 15}

In [32]:
ok = first["posts_info"][0]
#ok["author_id"] = id
datafr = pd.DataFrame([ok])

In [33]:
ok2 = first["posts_info"][1]
pd.concat([datafr, pd.DataFrame([ok2])], ignore_index=True)

,post_uid,create_time,description,desc_language,advertisement,region,url,saved,comments,likes,downloaded,views,shares,shares_whatsapp,author_id
0,7299333378166312199,1699508493,Successful fashion rebrands that deserve an aw...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/72...,547,128,11521,0,212040,170,15,6.785661e+18
1,7300800163944172818,1699850007,Replying to @Samantha Irvin here are some Chri...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/73...,530,24,1073,0,59209,16,1,NaN

In [34]:
user_profiles = pd.DataFrame()
original_posts = pd.DataFrame()
social_medias = pd.DataFrame()
posts_infos = pd.DataFrame()

In [36]:
for data in user_infos:
    user_profile = data["user_profile"]
    original_post = data['original_post']
    social_media = data['social_media']
    posts_info = data['posts_info']
    author_id = user_profile["author_uid"]
    
    original_post["author_id"] = author_id
    social_media["author_id"] = author_id
    
    for post_info in posts_info:
        post_info["author_id"] = author_id
        posts_infos = pd.concat([posts_infos, pd.DataFrame([post_info])], ignore_index=True)
    
    social_medias = pd.concat([social_medias, pd.DataFrame([social_media])], ignore_index=True)
    original_posts = pd.concat([original_posts, pd.DataFrame([original_post])], ignore_index=True)
    user_profiles = pd.concat([user_profiles, pd.DataFrame([user_profile])], ignore_index=True)

In [37]:
user_profiles

,name,author_uid,username,tiktok_followers,tiktok_following,tiktok_bio,country,tiktok_email,google
0,LUCINDA‚ÄÇPIKKAT,6785660866904146950,lucindapikkat,58258,712,Satirical Mum Life \nPR and Brand Advice \nSi...,AU,False,
1,Inst:@rratyx,6914681015094117381,rratyx,21745,73,,BY,False,
2,TheCookBook,6635098341921800197,whoisthecookbook,105005,24,Get your hype news here üóû,US,False,
3,JD Sports,6673817808440574982,jdofficial,2649973,79,Watch the full ad now on our YouTubeüì≤\n#JDFore...,GB,False,
4,Nav | Streetwear,6846447930184336390,navkhuttan,2221057,472,Outfits | Sneakers | Styling\nUK üá¨üáß \nnav.khut...,GB,False,
...,...,...,...,...,...,...,...,...,...
247,SERVICE SEPATU TERBAIK,7056573196220908570,shoe.workshop,83455,2,Segala jenis sepatu & kerusakan ada solusinya!...,ID,False,
248,ANHDUYSNEAKER17,6944513489868817410,fb.anhduystore,20642,118,CH·ªêT ƒê∆†N ·ªû ƒê√ÇY ·∫† üëá\n Da L√¥ : 0899.25.28.25,VN,False,
249,Ph·∫°m Thanh (tks),6710155639883613186,tks.sneaker2111,11571,2,"Ig: Tkssneaker C√°c b·∫°n mu·ªën t∆∞ v·∫•n, xem m·∫´u, c...",VN,False,
250,Sneakersport444,7051549280062604289,biancahyfufuentes,1852,6,Èù¥„ÇíË≤∑„ÅÜ„Å™„Çâ„ÄÅLine„Ç¢„Ç´„Ç¶„É≥„Éà„ÇíËøΩÂä†„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ\n‚ñº‚ñº‚ñº‚ñº‚ñº‚ñº‚ñº‚ñº‚ñº‚ñº\nüÖõüÖòüÖùüÖîüÜîÔºö...,JP,False,
251,Geek Sneaker Zone,6986860985412797467,geeksnk,34144,1,M·ªçi th√¥ng tin ·ªü Link b√™n d∆∞·ªõi\nContact üëá,VN,False,

In [38]:
social_medias

,ins_id,yt_id,youtube_name,twitter_id,twitter_name,author_id
0,lucindapikkat,,,,,6785660866904146950
1,rratyx,,,,,6914681015094117381
2,whoisthecookbook,UC52SbOs6g9Rt_Gfn079iDfg,The Cook Book,,,6635098341921800197
3,,UCLo2AKP2axbd8Ij8dJCY2WQ,JD Sports,,,6673817808440574982
4,navkhuttan,UCnV8V3ZA7rFyUr55cdpi5MQ,Navi Khuttan,,,6846447930184336390
...,...,...,...,...,...,...
247,,UCxvyZNNBTsrIrlBHCVgUu0Q,SHOE WORKSHOP,,,7056573196220908570
248,,,,,,6944513489868817410
249,,,,,,6710155639883613186
250,,,,,,7051549280062604289
251,,,,,,6986860985412797467

In [39]:
original_posts

,post_id,description,post_date,share_url,original_hashtag,author_id
0,7288628124005272839,Top 5 sneaker trends for 2024! Im in the marke...,1697015982,https://www.tiktok.com/@lucindapikkat/video/72...,sneaker,6785660866904146950
1,7129503215388773638,#sneakers #sneakerhead #sneaker #shoes #style,1659966825,https://www.tiktok.com/@rratyx/video/712950321...,sneaker,6914681015094117381
2,7301343590616157482,What sneakers will you be asking for this year...,1699976538,https://www.tiktok.com/@whoisthecookbook/video...,sneaker,6635098341921800197
3,7237075974104386843,"One pair of shoes for the rest of your life, w...",1685013067,https://www.tiktok.com/@jdofficial/video/72370...,sneaker,6673817808440574982
4,7247884168783318299,Simply The Best #nike #airforce1 #sneakers #sn...,1687529549,https://www.tiktok.com/@navkhuttan/video/72478...,sneaker,6846447930184336390
...,...,...,...,...,...,...
247,7124631017670937882,Membalas @timetravelsd seru nih bahas istilah ...,1658832432,https://www.tiktok.com/@shoe.workshop/video/71...,sneaker,7056573196220908570
248,7222996813823905051,Hot ƒë·∫øn cu·ªëi nƒÉm m·∫•t th√¥iii #gi√†y #xuhuong ##s...,1681735003,https://www.tiktok.com/@fb.anhduystore/video/7...,sneaker,6944513489868817410
249,7205519273526070555,Ng√†n c√¢u gi·∫£i th√≠ch cu·ªëi c√πng v·∫´n b·ªã ho√†n v·ªÅ :...,1677665695,https://www.tiktok.com/@tks.sneaker2111/video/...,sneaker,6710155639883613186
250,7226667872381127937,‰∏≠È´òÁîü„ÅÆ„Åø„Çì„Å™„ÅØ„Åì„Çå„ÇíË≤∑„Å£„Å¶Âë®„Çä„ÅÆ‰∫∫„Å®Â∑Æ„Çí„Å§„Åë„Å°„ÇÉ„Åä„ÅÜÔºÅ#„Çπ„Éã„Éº„Ç´„Éº #Sneaker #„Åä...,1682589737,https://www.tiktok.com/@biancahyfufuentes/vide...,sneaker,7051549280062604289
251,6987720012056317211,C√°ch Ki·ªÉm tra m·ªôt ƒë√¥i Jordan 1 Travis Scott li...,1626955350,https://www.tiktok.com/@geeksnk/video/69877200...,sneaker,6986860985412797467

In [40]:
posts_infos

,post_uid,create_time,description,desc_language,advertisement,region,url,saved,comments,likes,downloaded,views,shares,shares_whatsapp,author_id
0,7299333378166312199,1699508493,Successful fashion rebrands that deserve an aw...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/72...,547,128,11521,0,212040,170,15,6785660866904146950
1,7300800163944172818,1699850007,Replying to @Samantha Irvin here are some Chri...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/73...,530,24,1073,0,59209,16,1,6785660866904146950
2,7200629006780189954,1676527093,The day in the life of a mum who has got her s...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/72...,1328,592,12653,349,291585,5298,489,6785660866904146950
3,7310537179149683986,1702117081,Come and spend the day with me christmas shopp...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/73...,15,11,652,0,9866,1,0,6785660866904146950
4,7310364829859024146,1702076965,Come and join me and the @Carlton Real Estate ...,en,False,AU,https://www.tiktok.com/@lucindapikkat/video/73...,10,10,386,0,10648,1,0,6785660866904146950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,7310551365560929543,1702120384,M·ªôt em Basic d·ªÖ ƒëi üî• #Geeksneaker #lmcgr,vi,False,VN,https://www.tiktok.com/@geeksnk/video/73105513...,1,0,40,0,1944,0,0,6986860985412797467
1663,7307571447512222994,1701426566,Tr·∫£ l·ªùi @ƒê√¨nh √Ånh ƒê√£ c√≥ m√†u ƒëen #Geeksneaker #...,vi,False,VN,https://www.tiktok.com/@geeksnk/video/73075714...,19,32,369,0,15505,3,0,6986860985412797467
1664,7305724192240979208,1700996470,Am1 BlackWhite r·∫•t d·ªÖ mang lu√¥n #Geeksneaker #...,vi,False,VN,https://www.tiktok.com/@geeksnk/video/73057241...,77,27,617,0,25444,8,0,6986860985412797467
1665,7304612428178918663,1700737618,Tr·∫£ l·ªùi @Th·∫Øng Tho√≤ng üî• ng∆∞·ªùi ta n√≥i n√≥ ƒë·∫πp g...,vi,False,VN,https://www.tiktok.com/@geeksnk/video/73046124...,180,139,1010,0,77063,26,0,6986860985412797467
1666,7303864795462126855,1700563544,L√¢u r·ªìi kh√¥ng l√™n Videos ü´∂ #Geeksneaker #lmcgr,vi,False,VN,https://www.tiktok.com/@geeksnk/video/73038647...,14,24,335,0,10206,1,0,6986860985412797467